@model CanchaApp.Modelo.Usuario

@{
    ViewData["Title"] = "Create";
}

<h4></h4>

<h4>Crear Usuario</h4>
<hr />

<div class="marco">
    <div class="table">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Admin</label>
                <div class="form-check">
                    <input type="radio" id="adminSi" name="Admin" value="true" class="form-check-input" />
                    <label for="adminSi" class="form-check-label">Sí</label>
                </div>
                <div class="form-check">
                   <input type="radio" id="adminNo" name="Admin" value="false" class="form-check-input" />
                   <label for="adminNo" class="form-check-label">No</label>
                   </div>
                   <span asp-validation-for="Admin" class="text-danger"></span>
             </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success separador"/>
            </div>
        </form>
    </div>
</div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary" >Volver al Listado </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
