@model CanchaApp.Modelo.Capacidad

@{
    ViewData["Title"] = "Details";
}

<h1></h1>

<div>
    <h4>Detalle Capacidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamaño)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver al Listado</a>
</div>
