@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Bienvenidos a CanchaApp</h3>
   
    <p>El lugar ideal para jugarte un partido <a asp-controller="TurnoReservado" asp-action="Create" class="btn btn-success" >Hace tu reserva</a></p>
</div>




