@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a CanchaApp</h1>
    <p>El lugar ideal para jugarte un partido <a href="https://docs.microsoft.com/aspnet/core">Hace tu reserva</a>.</p>
    <p>El lugar ideal para jugarte un partido <a asp-controller="Home" asp-action="Create">Hace tu reserva</a>.</p>
</div>




