@{
    ViewData["Title"] = "Privacy Policy";
}
<h1></h1>

<h4>Terminos Legales</h4>

<p>Términos y Condiciones para Reservas de Cancha de Fútbol:</p>

<p>
    1. Aceptación de Términos y Condiciones:
Al realizar una reserva en este sitio web, el usuario acepta y se compromete a cumplir con los siguientes términos y condiciones.
</p>
<p>
    2. Reservas:
Las reservas de canchas de fútbol están sujetas a disponibilidad. La confirmación de la reserva se enviará por correo electrónico o mensaje de texto una vez que se haya completado el proceso de pago.
</p>
<p>
    3. Extravío de Objetos:
La administración del predio no se hace responsable por el extravío o daño de objetos personales dentro de las instalaciones. Se recomienda a los usuarios mantener sus pertenencias seguras y bajo supervisión personal en todo momento.
</p>
<p>
    4. Lesiones dentro del Predio:
Los usuarios participan en las actividades deportivas bajo su propio riesgo. La administración del predio no asume responsabilidad por lesiones personales, accidentes o cualquier otro percance que pueda ocurrir durante el uso de las instalaciones.
</p>
<p>
    5. Devoluciones de Dinero:
Las reservas perdidas o canceladas no son reembolsables, a menos que la cancelación sea realizada con al menos 24 horas de antelación. En caso de condiciones climáticas adversas o eventos imprevistos, la administración evaluará las circunstancias y podrá ofrecer soluciones apropiadas, como reprogramación de la reserva o créditos para futuros usos.
</p>
<p>
    6. No Presentación:
La no presentación a la reserva en la hora y fecha establecidas no da derecho a reembolso ni a la reprogramación de la reserva. Se recomienda a los usuarios notificar cualquier cambio o cancelación con la mayor antelación posible.
</p>
<p>
    7. Normas de Buena Convivencia:
Se espera que todos los usuarios mantengan un comportamiento respetuoso y cortés durante su estancia en el predio. Se prohíbe cualquier comportamiento que pueda resultar en molestias, daños a las instalaciones o la creación de un ambiente hostil. La violación de estas normas puede resultar en la prohibición de acceso a las instalaciones.
</p>
<p>
    8. Modificaciones a los Términos y Condiciones:
La administración del predio se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones entrarán en vigencia inmediatamente después de su publicación en el sitio web..</p>
</p>