@model CanchaApp.Modelo.TipoPiso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoPiso</h4>
    <hr />
   
      <div class="marco">  
    <dl class="table">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPiso1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPiso1)
        </dd>
       
    </dl>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning m-1">Editar</a>
    </div>

</div>
<div>
   
    <a asp-action="Index" class="btn btn-primary">Volver al Listado</a>
</div>
