@model CanchaApp.Modelo.TipoPiso

@{
    ViewData["Title"] = "Edit";
}

<h2></h2>

<h4>Editar Tipo de Piso</h4>
<hr />
<div class="marco">
<div class="table">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TipoPiso1" class="control-label"></label>
              
                <input asp-for="TipoPiso1" class="form-control" /> 
                <span asp-validation-for="TipoPiso1" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success m-1" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
